<h1>Hello world from index!</h1>

<p><a href="/demo/hello">Hello page 1</a></p>
<p><%= link_to("Hello page 2", {:action => 'hello'}) %></p>

<p><%= link_to("Hello with params", {:action => 'hello', :page => 5, :id => 20}) %></p>

<p><%= link_to("Lynda.com", {:action => 'lynda'}, target: '_blank') %></p>

<p><%= link_to("Roar", '#', :onclick => "jsRoar('Javascript'); return true;") %></p>
